/* ======================
  GENERAL UI
====================== */

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* AUTH BACKGROUND */
.auth-bg {
  background: linear-gradient(135deg, #4f00ff, #0099ff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* AUTH CARD */
.auth-card {
  width: 380px;
  padding: 30px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.brand {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.auth-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.auth-subtitle {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

/* INPUT STYLING */
.auth-input {
  background: rgba(255,255,255,0.2) !important;
  border: none !important;
  color: #fff !important;
}

.auth-input::placeholder {
  color: #eee;
}

/* AUTH BUTTON */
.btn-auth {
  background: #00eaff;
  color: #000;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0,234,255,0.5);
}

.btn-auth:hover {
  background: #00c0dd;
}

/* LINK */
.auth-link {
  color: #00eaff;
  font-weight: 600;
}

/* ======================
  DASHBOARD UI
====================== */

.dash-bg {
  background: #f4f4fc;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #181b2c;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  color: white;
}

.sidebar-brand {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-menu li {
  list-style: none;
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.sidebar-menu li:hover,
.sidebar-menu .active {
  background: #00d1ff;
  color: #000;
  opacity: 1;
}

/* LOGOUT BUTTON */
.logout-btn {
  width: 100%;
  margin-top: 25px;
  background: #ff5959;
  border: none;
  font-weight: bold;
}

/* MAIN CONTENT */
.main {
  margin-left: 260px;
  padding: 30px;
}

.head-title {
  font-weight: bold;
  color: #222;
}

/* CARDS */
.stats-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

/* ADD EXPENSE BOX */
.add-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.add-input {
  border-radius: 10px;
}

.btn-add {
  background: #4f00ff;
  color: white;
  border-radius: 10px;
}

.btn-add:hover {
  background: #3a00cc;
}

/* TABLE CARD */
.table-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
